<mat-card style="margin: 50px; padding: 50px">
  <mat-card-title>Witaj {{ loggedUser.userName }}</mat-card-title>
  <mat-card-subtitle style="margin-top: 10px;">Jesteś zalogowany jako administrator.</mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Zarządzanie użytkownikami"><app-user-manager></app-user-manager></mat-tab>
      <mat-tab label="Wzory akredytacji"><app-accreditation-patterns></app-accreditation-patterns></mat-tab>
      <mat-tab label="Oczekujące wnioski"><app-applications [applications]="applicationsNonApproved"></app-applications></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
