<mat-card
  style="
    margin-top: 100px;
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    padding: 100px;
  "
>
  <mat-card-title>Nazwa: {{ pattern.name }}</mat-card-title>
  <mat-card-subtitle style="margin-top: 10px"
    >Opis: {{ pattern.description }}</mat-card-subtitle
  >
  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      style="margin-top: 50px"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Załączniki </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenState ? "Rozwiń" : "Ukryj" }} listę
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-selection-list
        #attachmentSelectionList
        [(ngModel)]="selectedAttachments"
      >
        <mat-list-option
          [value]="attachment"
          *ngFor="let attachment of pattern.attachments; let i = index"
          style="margin-top: 20px; height: fit-content"
        >
          <div style="width: 400px; cursor: pointer">
            <mat-card-title style="width: 100%; display: block"
              >{{ i + 1 }}. {{ attachment.name }}</mat-card-title
            >
            <mat-card-subtitle
              style="margin-top: 10px; width: 100%; display: block"
              >{{ attachment.description }}</mat-card-subtitle
            >
          </div>
        </mat-list-option>
      </mat-selection-list>
      <button
        mat-raised-button
        color="accent"
        style="margin-top: 20px; width: 47%; margin-inline: 5px"
        (click)="download()"
        [disabled]="attachmentSelectionList.selectedOptions.isEmpty()"
      >
        Pobierz zaznaczone
      </button>
      <button
        mat-raised-button
        color="warn"
        *ngIf="loggedUser.role == 'Admin'"
        style="margin-top: 20px; width: 47%; margin-inline: 5px"
        (click)="delete()"
        [disabled]="attachmentSelectionList.selectedOptions.isEmpty()"
      >
        Usuń zaznaczone
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider style="margin-block: 20px"></mat-divider>
  <mat-accordion *ngIf="loggedUser.role == 'Admin'">
    <mat-expansion-panel
      (opened)="panelOpenStateAdd = true"
      style="margin-top: 40px"
      (closed)="panelOpenStateAdd = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Dodaj załącznik </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenStateAdd ? "Rozwiń" : "Ukryj" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <!--Stepper-->
      <!--Nowy wzór-->
      <mat-card-title style="margin-top: 20px">Dodaj załącznik</mat-card-title>
      <mat-horizontal-stepper #stepper id="stepper" name="stepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Wprowadź nazwę załącznika</ng-template>
            <mat-form-field>
              <mat-label>Nazwa</mat-label>
              <input
                matInput
                placeholder="Nazwa załącznika..."
                formControlName="firstCtrl"
                required
              />
            </mat-form-field>
            <div>
              <button
                mat-button
                color="accent"
                matStepperNext
                [disabled]="!firstFormGroup.get('firstCtrl').value"
              >
                Dalej
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="secondFormGroup"
          label="Wprowadź opis załącznika"
        >
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Opis</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                placeholder="Opis załącznika..."
                required
              />
            </mat-form-field>
            <div>
              <button mat-button color="primary" matStepperPrevious>
                Wróć
              </button>
              <button
                mat-button
                color="accent"
                matStepperNext
                [disabled]="!secondFormGroup.get('secondCtrl').value"
              >
                Dalej
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="thirdFormGroup"
          label="Dodaj plik z załącznikiem"
        >
          <form [formGroup]="thirdFormGroup">
            <mat-label style="margin-right: 10px">Dodaj plik</mat-label>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="fileInput.click()"
            >
              Wybierz plik
            </button>
            <input
              hidden
              (change)="onFileSelected()"
              #fileInput
              type="file"
              id="file"
              ng2FileSelect
              [uploader]="uploader"
            />

            <div>
              <button mat-button color="primary" matStepperPrevious>
                Wróć
              </button>
              <button
                mat-button
                color="accent"
                matStepperNext
                [disabled]="!uploader.getNotUploadedItems().length"
              >
                Dalej
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Dodaj</ng-template>
          <p>Kliknij przycisk dodaj, aby dodać akredytację</p>
          <div>
            <button mat-button color="primary" matStepperPrevious>Wróć</button>
            <button mat-button color="warn" (click)="stepper.reset()">
              Resetuj
            </button>
            <button
              mat-button
              color="accent"
              (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length"
            >
              Dodaj
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider style="margin-block: 20px"></mat-divider>

  <button
    *ngIf="loggedUser.role == 'Admin'"
    mat-raised-button
    color="warn"
    style="margin-top: 40px; width: 200px"
    (click)="deletePattern()"
  >
    Usuń wzór akredytacji
  </button>

  <button
    *ngIf="loggedUser.role == 'User'"
    mat-raised-button
    color="primary"
    style="margin-top: 40px; width: 200px"
    (click)="applicate()"
    [disabled]="!isNull()"
  >
    Aplikuj
  </button>
</mat-card>
